* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.formStyle {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #ECF0F1;
}

.navBar {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    padding: 20px;
    color: #ECF0F1;
}

button {
    background-color: #18BC9C;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    margin-top: 0.6em;
    float: right;
}

button:hover {
    background-color: #16A085;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: #34495E;
}

input {
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #D1D5DA;
    color: #2C3E50;
    font-size: 1.1em;
    height: 45px;
    line-height: 20px;
    margin-top: 10px;
    padding: 8px;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

em {
    font-size: .8em;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

.card {
    background-color: #FFFFFF;
    border: 1px solid #D1D5DA;
    border-radius: 8px;
    box-shadow: #2C3E50;
    margin: 20px auto;
    padding: 20px;
    width: calc(60vw - 40px);
}

.blogsContainer {
    display: flex;
    position: relative;
    justify-content: space-between;
    right: 50px;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}

.submitButton {
    position: relative;
    top: 30px;
    left: 25px;
}



body.blogsStyle {
    position: relative;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #ECF0F1;
}

body.formStyle.dark-mode {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #34495E;
}


body.blogsStyle.dark-mode {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #34495E;
}



footer {
    background-color: #2C3E50;
    color: #ECF0F1;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}



ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

.flexBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 94.8vh;
}
